<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <% if (user) { %>
    <form action="" method="post">
      <label for="title">Title:</label>
      <input type="text" id="title" name="title" required />
      <label for="message">Message:</label>
      <input type="text" id="message" name="text" required />
      <button type="submit">Send</button>
    </form>
    <% } %> <% messages.forEach(message => { %>
    <div>
      <h2><%= message.title %></h2>
      <div>Author: <%= user ? message.author.username : "Hidden" %></div>
      <div>Time: <%= user ? message.timeFormat : "Hidden" %></div>
      <div>Message: <%= message.text %></div>
    </div>
    <% }) %>
  </body>
</html>
